.container {
    display: flex;
    flex-direction: column;
    width: 310px;
    box-sizing: border-box;
    height: 460px;
    padding: 2px;
    background-color: rgb(0, 43, 128);
    border-radius: 8px;
    padding: 8px;
    border: solid 6px rgb(61, 61, 92);
}

.buttons {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    margin: 2px;
    margin-bottom: 6px;
    flex-basis: 25%;
    background-color: rgb(230, 230, 230);
    font-size: 30px;
    color: black;
    border: solid 2px black;
    padding-left: 8px;
    padding-top: 5px;
}

.btn {
    border-radius: 30px;
    flex-basis: 50px;
    flex-grow: 1;
    border: none;
    font-size: 20px;
    background-color: rgb(148, 148, 184);
}



#clearBtn,
#makeNegBtn,
#makePerBtn,
#equalBtn,
.operatorBtn {
    background-color: rgb(92, 92, 138);
}

body {
    background-color: rgb(217, 217, 217);
}
