.container {
    display: flex;
    flex-direction: column;
    width: 240px;
    box-sizing: border-box;
    height: 420px;
    padding: 2px;
    background-color: rgb(175, 173, 80);
    border-radius: 5px;
    padding: 5px;
}

.buttons {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    margin: 2px;
    margin-bottom: 4px;
    flex-basis: 30%;
    background-color: white;
    border-radius: 3px;
}

.btn {
    border-radius: 20px;
    flex-basis: 45px;
    flex-grow: 1;
    border: none;
}

#equal {
    flex-grow: 14;
}
